kafka:
  brokers:
    - 'localhost:9093'
  topics:
    - 'some-topic'
  group: 'some-group'
  client_id: 'some-client'
forwarder:
  url: "http://localhost:8001/api/bans"
validators:
  - requests_from_ip_counter:
      ban_description: "too many requests"
      limits:
        - limit: 3
          ban_duration: 10s
          reset_duration: 30s
        - limit: 2
          ban_duration: 30s
          reset_duration: 60s
        - limit: 1
          ban_duration: 60s
          reset_duration: 120s
telemetry:
  svc_name: "firewall-analyzer"
